<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>121D1B0F-E1A1-4F21-8D55-B99F9F112593</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0951E92-57B7-436D-B4D9-614C5812009D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4D474C94-D525-4CC6-A500-8C304EB12873</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B06B74E4-63CB-427A-9324-18D445839EE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9706662F-BB00-4447-A45C-1AF952495910</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D474C94-D525-4CC6-A500-8C304EB12873</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>121D1B0F-E1A1-4F21-8D55-B99F9F112593</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>No notification, just copy ip to clipboard</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adam Simpson</string>
	<key>description</key>
	<string>Display your internal IP address in big text</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Large Type IP Address</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>chmod 777 ip.sh;
./ip.sh;</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4D474C94-D525-4CC6-A500-8C304EB12873</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>B06B74E4-63CB-427A-9324-18D445839EE7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ip</string>
				<key>subtext</key>
				<string>Copy the current internal IP address to the clipboard and display it</string>
				<key>text</key>
				<string>Large Text IP Address</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9706662F-BB00-4447-A45C-1AF952495910</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>copied to clipboard</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D0951E92-57B7-436D-B4D9-614C5812009D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>chmod 777 ip.sh;
./ip.sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>121D1B0F-E1A1-4F21-8D55-B99F9F112593</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>121D1B0F-E1A1-4F21-8D55-B99F9F112593</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>4D474C94-D525-4CC6-A500-8C304EB12873</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9706662F-BB00-4447-A45C-1AF952495910</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>B06B74E4-63CB-427A-9324-18D445839EE7</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>D0951E92-57B7-436D-B4D9-614C5812009D</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://adamsimpson.net</string>
</dict>
</plist>
